#status {
   border-collapse: collapse;
}
 
#status tbody tr td {
   padding: 0; 
   margin: 0;
}

.table th, .table td { 
   border-top: none !important; 
}

.sidebar .nav-link {
   font-weight: 500;
   color: #333;
 }
 
 .sidebar .nav-link.active {
   color: #007bff;
 }